<a href="https://colab.research.google.com/github/artadchy/Study-Material-/blob/main/Homework_Class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Homework 1

In [ ]:
num1 = 30
num2 = 10

sum = num1 + num2
print(sum)

sub= num1 - num2
print(sub)

mul = num1 * num2
print(mul)

div = num1 // num2
print(div)

40
20
300
3

#Homework 2

In [ ]:
id, name, batch, hometown, value =  "1", "Md Artad Chowdhury", "18", "sylhet", "018"
print (id, name, batch, hometown, value)
print(id, "\t", name, "\t", batch, "\t", hometown, "\t", value)

1 Md Artad Chowdhury 18 sylhet 018
1 	 Md Artad Chowdhury 	 18 	 sylhet 	 018

#Homework 3

In [ ]:
num= 20
print(num)
print ("Before: ", num)

num = 10
print (num)
print ("After: ", num)

20
Before:  20
10
After:  10

#Homework 4

In [1]:
num1 = 100.00
num2 = 200.00

sum = int(num1) + int (num2)
print(sum)

300

# Homework 5

In [12]:
a = int(input('Enter the first number: '))
b = int(input('Enter the first number: '))
c = int(input('Enter the first number: '))

average = (a + b + c) / 3
print('The average of numbers = %0.2f' %average)

Enter the first number: 1
Enter the first number: 2
Enter the first number: 3
The average of numbers = 2.00

# Homework 6

In [16]:
from ast import operator
a= int(input('Enter the first number: '))
b= int(input('Enter the first number: '))
operator= input()

if operator == '+':
   print(a+b)
elif operator == '-':
   print(a-b)
elif operator == '*':
   print(a*b)
elif operator == '/':
   print(a/b)

Enter the first number: 1
Enter the first number: 2
+
3

#Homework 7

In [ ]:
ch = input("Enter a character: ")
if ch== "a" or ch== "e" or ch== "i" or ch== "o" or ch== "u" or ch== "A" or ch== "E" or ch== "I" or ch== "O" or ch== "U":
  print("Vowel")

else:
  print("Consonant")


# Homework 7