<a href="https://colab.research.google.com/github/artadchy/Study-Material-/blob/main/Homework_Class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Homework 1

In [ ]:
num1 = 30
num2 = 10

sum = num1 + num2
print(sum)

sub= num1 - num2
print(sub)

mul = num1 * num2
print(mul)

div = num1 // num2
print(div)

40
20
300
3

#Homework 2

In [4]:
id, name, batch, hometown, value =  "1", "Md Artad Chowdhury", "18", "sylhet", "018"
print (id, name, batch, hometown, value)
print(id, "\t", name, "\t", batch, "\t", hometown, "\t", value)

1 Md Artad Chowdhury 18 sylhet 018
1 	 Md Artad Chowdhury 	 18 	 sylhet 	 018