<a href="https://colab.research.google.com/github/artadchy/Study-Material-/blob/main/homework_class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Homework 1

In [ ]:
num1 = 30
num2 = 10

sum = num1 + num2
print(sum)

sub= num1 - num2
print(sub)

mul = num1 * num2
print(mul)

div = num1 // num2
print(div)

40
20
300
3

#Homework 2

In [ ]:
id, name, batch, hometown, value =  "1", "Md Artad Chowdhury", "18", "sylhet", "018"
print (id, name, batch, hometown, value)
print(id, "\t", name, "\t", batch, "\t", hometown, "\t", value)

1 Md Artad Chowdhury 18 sylhet 018
1 	 Md Artad Chowdhury 	 18 	 sylhet 	 018

#Homework 3

In [ ]:
num= 20
print(num)
print ("Before: ", num)

num = 10
print (num)
print ("After: ", num)

20
Before:  20
10
After:  10

#Homework 4

In [ ]:
num1 = 100.000
num2 = 200
sum = (num1) + float(num2)

print(sum)

300.0

#Homework 5

In [ ]:
a = int(input ())
b = int(input ())
c= int(input ())
sum = (a + b + c) // 3
print(sum)

1
2
3
2